[submodule "submodules/CriFs.V2.Hook.ReloadedII"]
	path = submodules/CriFs.V2.Hook.ReloadedII
	url = https://github.com/Sewer56/CriFs.V2.Hook.ReloadedII.git
[submodule "submodules/BGME"]
	path = submodules/BGME
	url = https://github.com/T-PoseRatkechi/BGME.git
